<!DOCTYPE html>
<html>
  <head>
    <title>Movie Browser</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="browse">
      <h1>Movie Browser</h1>
      <form id="searchForm">
        <input type="search" placeholder="Search for a title..." id="movie-search">
        <br/><br/>
        <input type="search" placeholder="Search by IMDB ID..." id="imdb-id-search">
        <br/><br/>
        <input type="submit" value="Submit" id="search-submit">
      </form>
      <!-- <select id="movie-select" class="hidden">
        <option value="">Select a movie...</option>
      </select> -->
      <div id="movie-detail">
      </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="/movie_browser.js"></script>
  </body>
</html>
